@media (min-width: 992px){
	h1{
	  text-align: center;
	}
	div{
		margin: auto;
	}
	section{
	  font-size: 13px;
	  text-align: center;
	  width: 32%;
	  border: 1px solid black;
	  background-color: pink;
	  padding: 2px;
	  margin: 2px;
	}
	#one{
		float: left;
	}
	#two{
		float: left;
	}
	#three{
		float: left;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	h1{
	  text-align: center;
	}
	div{
		margin: auto;
	}
	section{
	  font-size: 13px;
	  text-align: center;
	  width: 32%;
	  border: 1px solid black;
	  background-color: pink;
	  padding: 2px;
	  margin: 2px;
	}
	#one{
		float:left;
	}
	#two{
		float: left;
	}
	#three{
		position: relative;
		text-align: center;
		width: 65%;
		top: 105px;
	}
	
}
@media(max-width: 767px){
	div{
		float: left;
		width: 300px;
    	height: 300px;
    	margin: 50px auto;
	}
	h1{
	  text-align: center;
	}
	section{
	  font-size: 13px;
	  text-align: center;
	  width: 32%;
	  border: 1px solid black;
	  background-color: pink;
	  padding: 2px;
	  margin: 2px;
	}
	#one{
		margin-left: 50px auto;
	}
	#two{
		margin-left: 50px auto;
	}
	#three{
		float: left;
}
