@media (min width: 992px){
}
@media (min width: 768px) and (max width: 991px){
}
@media (max width: 767px){
}

h1{
  text-align: center;
}
section{
  width: 300px;
  border: 15px solid pink;
  padding: 50px;
  margin: 20px;
}
